<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
</head>
<body topmargin='0' leftmargin='0' marginwidth='0' marginheight='0'>