<div class='nav'>
	<ul class='nav-ul'>
		<li id='home-high'><a  href="/">Home</a></li>
		<li id='post-high'><a  href="/posts/add">Add Post</a></li>
		<li id='cat-high'><a  href='/categories/add'>Add Category</a></li>
	</ul>
</div>